<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一个demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/supplement.css">

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&ensp;发现</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#" class="author">
                        <img class="img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a></h5>
                    <a th:text="${question.user.name}"></a>发布<span>     <span th:text="${question.commentCount}"></span>个回复  <span th:text="${question.viewCount}"></span>次浏览 &emsp;&emsp;&emsp;<span th:text="${#dates.format(question.gmtModified,'yyyy年MM月dd日 HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a aria-label="Previous"  href="?page=1" th:if="${pagination.showFirstPage}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Previous"  th:href="@{'?page='+${pagination.page - 1}}" th:if="${pagination.showPreviousPage}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:if="${page > 0}" th:classappend="${page == pagination.page} ? 'active' : '' "th:each="page : ${pagination.pages}"><a th:href="@{'?page='+${page}}" th:text="${page}"></a></li>
                    <li>
                        <a aria-label="Next" th:href="@{'?page='+${pagination.page + 1}}" th:if="${pagination.showNextPage}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Previous" th:href="@{'?page='+${pagination.totalPage}}" th:if="${pagination.showLastPage}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>